In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [9]:
train_df=pd.read_csv('titanic_train.csv')
test_df=pd.read_csv('titanic_test.csv')

In [25]:

def convert_sex(sex_col):
    res=[]
    for i in range(len(sex_col)):
        if sex_col[i]=='male':
            res.append(1)
        else:
            res.append(0)
    return res
def convert_embarked(embarked_col):
    res=[]
    for i in range(len(embarked_col)):
        if embarked_col[i]=='S':
            res.append(0)
        elif embarked_col[i]=='C':
            res.append(1)
        else:
            res.append(2)
    return res
def convert_embarked2(embarked_col):
    res=[]
    for i in range(len(embarked_col)):
        if embarked_col[i]=='S':
            res.append(0)
        elif embarked_col[i]=='C':
            res.append(1)
        else:
            res.append(2)
    return res
# sex_t=convert_sex(train_df['Sex'])
# train_df['Sex']=sex_t
# train_df['Embarked']=convert_embarked(train_df['Embarked'])
# train_df.drop(['PassengerId','Name','Ticket','Cabin'],axis=1,inplace=True)
# train_df.value_counts('Embarked')
# train_df['Embarked'].value_counts()

# train_df['Age'].fillna(train_df['Age'].mean(),inplace=True)
train_df.head(20)

    Survived  Pclass  Sex        Age  SibSp  Parch     Fare  Embarked
0          0       3    1  22.000000      1      0   7.2500         0
1          1       1    0  38.000000      1      0  71.2833         1
2          1       3    0  26.000000      0      0   7.9250         0
3          1       1    0  35.000000      1      0  53.1000         0
4          0       3    1  35.000000      0      0   8.0500         0
5          0       3    1  29.699118      0      0   8.4583         2
6          0       1    1  54.000000      0      0  51.8625         0
7          0       3    1   2.000000      3      1  21.0750         0
8          1       3    0  27.000000      0      2  11.1333         0
9          1       2    0  14.000000      1      0  30.0708         1
10         1       3    0   4.000000      1      1  16.7000         0
11         1       1    0  58.000000      0      0  26.5500         0
12         0       3    1  20.000000      0      0   8.0500         0
13         0       3    1  39.000000      1      5  31.2750         0
14         0       3    0  14.000000      0      0   7.8542         0
15         1       2    0  55.000000      0      0  16.0000         0
16         0       3    1   2.000000      4      1  29.1250         2
17         1       2    1  29.699118      0      0  13.0000         0
18         0       3    0  31.000000      1      0  18.0000         0
19         1       3    0  29.699118      0      0   7.2250         1

In [27]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

X=train_df.drop(['Survived'],axis=1)
y=train_df['Survived']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=101)
logmodel=LogisticRegression()
logmodel.fit(X_train,y_train)

/Users/matansharon/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [32]:
predictions=logmodel.predict(X_test)
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.77      0.88      0.82       154
           1       0.80      0.65      0.71       114

    accuracy                           0.78       268
   macro avg       0.78      0.76      0.77       268
weighted avg       0.78      0.78      0.78       268

In [36]:
#plot confusion matrix
confusion_matrix(y_test,predictions)

array([[135,  19],
       [ 40,  74]])